$badges--font-size: 0.75em !default;
$badges--font-family: trwl-theme('font-family') !default;
$badges--font-weight: null !default;
$badges--text-transform: null !default;
$badges--letter-spacing: null !default;
$badges--line-height: 1 !default;
$badges--text-decoration: null !default;
$badges--margin: null !default;
$badges--border-width: null !default;
$badges--border-style: null !default;
$badges--border-color: null !default;
$badges--border-radius: trwl-theme('border-radius') !default;
$badges--color: rgb(255, 255, 255) !default;
$badges--box-shadow: null !default;
$badges--background: null !default;
$badges--background-color: (
  'default': trwl-theme-color('gray-darker'),
  '-primary': trwl-theme-color('primary'),
  '-success': trwl-theme-color('success'),
  '-warning': trwl-theme-color('warning'),
  '-danger': trwl-theme-color('danger'),
) !default;
$badges--padding: 0.2em 0.4em !default;
